
<div class="container">
    <h3 class="htext">How Coronavirus Is Spread...</h3>
    <h4>TRANSMISSION OF COVID-19</h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/assets/images/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Droplets that from Infected person Coughs or sneezes</h5>
              <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Touching or contact with infected surfaces or objects</h5>
              <p class="card-text">A person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth,nose, or possibly their eyes</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/card3.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Person-to-person spread as close contact with infected</h5>
              <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another</p>
            </div>
          </div>
        </div>
        
      </div>
     
</div>



<div class="container ">
    <h3 class="textt">How To Protect Youself & Other People </h3>
    <h4>PREVENTATION & ADVICE</h4>
    <div class="container section">
        <div class="row">
            <div class="col-md-6" >
                <h3>
                    Respiratory Hygiene
                </h3>
                <p>
                    The COVID-19 corona virus outbreak is considered as a pandemic, an illness that spreads virus from person to person via coughing, sneezing or exposure to droplets of saliva containing the virus. Since the outbreak of this virus in December, it is spreading rapidly across the whole world causing deathly effects. 
                <br>
                <button class="Read">Read More</button>
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/cov.png" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="https://pbs.twimg.com/media/EVi5SNJUwAU_doj.jpg" alt="" >
            </div>
            <div class="col-md-6">
                <h3>
                    Avoid touching face
                </h3>
                <p>
                    Hands touch many surfaces and can pick up viruses. You never know one of the things you touched might be contaminated with virus. If you touch these same hands having virus to your face, the virus may get transferred to your eyes, nose or mouth. 
                 <br>
                 <button class="Read">Read More</button>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                     Maintain social distancing
                </h3>
                <p>
                    Be it for work or any important purpose, make sure that you avoid travelling as much as possible.
                     Even if you are travelling avoid public transportation or vehicles that are crowded. Travelling means coming in contact with people and that should be avoided to prevent the spread of corona virus.  
                    <br>
                    <button class="Read">Read More</button>
                    </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/so.png" alt=""  width="20%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/wash.png" alt=""/>
            </div>
            <div class="col-md-6">
                <h3>
                    Wash your hands frequently 
                </h3>
                <p>
                    Wash your hands as often as possible
                    Make sure that you frequently wash your hands with a disinfectant or alcohol-based hand wash or at-least soap and water for minimum 20 seconds to ensure that the virus (if any) present on your hands gets killed or drained away.
                    <br>
                    <button class="Read">Read More</button>
                </p>
                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="texss">ARE THE SYMPTOMS OF COVID-19?</h3>
    <h4>SYMPTOMS OF CORONAVIRUS</h4>
    <p class="Caption">The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may<br>
    have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are<br>
    usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure</p>
<div>
    <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="/assets/images/symptoms1.jpg" class="rounded-circle img-fluid" alt=""  width="90%">
            </div>
            <div class="col-md-6">
                <p class="syt">People with COVID-19 have had a wide range of symptoms reported ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus.
                    Anyone can have mild to severe symptoms. 
                <h4 class="subheading " style="text-decoration:underline;">People with these symptoms may have COVID-19:</h4>
            <p class="text-muted">  
                <li>Fatigue</li>
                <li>Cough</li>
                <li>Headache</li>
                <li>Fever or chills</li> 
                
                 <li>Muscle or body aches</li>
                 <li>Congestion or runny nose</li>
                 <li>New loss of taste or smell</li>
                
                <li>Nausea or vomiting</li>
              
            </p>
                <p class="syt">Influenza (Flu) and COVID-19 are both contagious respiratory illnesses,<br> but they are caused by different viruses.COVID-19 is caused by infection with a new coronavirus (called SARS-CoV-2), and flu is caused by infection with influenza viruses.
                    COVID-19 seems to spread more easily than flu and causes more serious illnesses in some people. <br>It can also take longer before people show symptoms and people can be contagious for longer.<br> More information about differences between flu and COVID-19 is available in the different sections below.</p>
            </div>
        </div>