<div class="container">
    <h3 class="htext">How Coronavirus Is Spread...</h3>
    <h4>TRANSMISSION OF COVID-19</h4>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Human Contact</h6>
                    <div class="card-image-container">
                        <img src="../../../assets/images/Syp3.jpg" alt="" class="card-image img-fluid">
                    </div>
                    <h5 class="card-title mt-auto">Avoid Human Contact in this tregedic situation of corona virus .
                        Dont shake hands or give hugs</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Air Transmission By Caugh or Sneeze</h6>
                    <div class="card-image-container">
                        <img src="../../../assets/images/Syp1.jpg" alt="" class="card-image img-fluid">
                    </div>

                    <h5 class="card-title mt-auto">Virus can be transmitted via cough or Sneeze. Don't sneez or Caugh in public area</h5>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <h6 class="card-subtitle mb-2 text-muted">Contaminated objects and Substances</h6>
                    <div class="card-image-container">
                        <img src="../../../assets/images/Syp2.jpg" alt="" class="card-image img-fluid">
                    </div>
                    <h5 class="card-title mt-auto">Virus can also be transmitted with Contaminated objects and sustains,
                        Be aware of about those factor now </h5>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:15px">
    <h3 class="texss">ARE THE SYMPTOMS OF COVID-19?</h3>
    <h4>SYMPTOMS OF CORONAVIRUS</h4>
    <div class="d-flex flex-row ">
        <div class="p-2"><img src="../../../assets/images/spreads.png"></div>
        <div class="p-2">
            <p class="syt">People with COVID-19 have had a wide range of symptoms reported ranging from mild
                symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus.
                Anyone can have mild to severe symptoms.
            <h4 class="subheading " style="text-decoration:underline; color:red !important">People with these symptoms may have
                COVID-19:</h4>
            <div class="d-flex flex-row p-2 justify-content-around">
                <div class="p-2  ">
                    <li class="p-2 lifffect">Fatigue</li>
                    <li  class="p-2 lifffect">Cough</li>
                    <li  class="p-2 lifffect">Headache</li>
                    <li  class="p-2 lifffect">Fever or chills</li>
                </div>
                <div class="p-2">
                    <li  class="p-2 lifffect">Muscle or body aches</li>
                    <li  class="p-2 lifffect">Congestion or runny nose</li>
                    <li  class="p-2 lifffect">New loss of taste or smell</li>
                    <li  class="p-2 lifffect">Nausea or vomiting</li>
                </div>

            </div>
            <p class="syt">Influenza (Flu) and COVID-19 are both contagious respiratory illnesses,<br> but they
                are caused by different viruses.COVID-19 is caused by infection with a new coronavirus (called
                SARS-CoV-2), and flu is caused by infection with influenza viruses.
                COVID-19 seems to spread more easily than flu and causes more serious illnesses in some people.
                <br>It can also take longer before people show symptoms and people can be contagious for
                longer.<br> More information about differences between flu and COVID-19 is available in the
                different sections below.
            </p>
        </div>

    </div>
</div>

<div>
    <app-dead-report></app-dead-report>
</div>


<div>
    <app-common-question></app-common-question>
</div>



