<div class="container">
    <h3 class="textt">How To Protect Youself ?</h3>
    <h4>Preventation & Advice</h4>
    <div class="container section">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    Respiratory Hygiene
                </h3>
                <p>
                    The COVID-19 corona virus outbreak is considered as a pandemic, an illness that spreads virus from person to person via coughing, sneezing or exposure to droplets of saliva containing the virus. Since the outbreak of this virus in December, it is spreading rapidly across the whole world causing deathly effects. 
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/cov.png" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/dont2.png" alt="">
            </div>
            <div class="col-md-6">
                <h3>
                    Avoid touching face
                </h3>
                <p>
                    Hands touch many surfaces and can pick up viruses. So, hands can transfer the virus to your eyes, nose or  mouth and can make you sick.Our hands come in contact with many surfaces throughout the day. You never know one of the things you touched might be contaminated with virus. If you touch these same hands having virus to your face, the virus may get transferred to your eyes, nose or mouth. To prevent touching your face, you can also resort to hand gloves.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>
                     Maintain social distancing
                </h3>
                <p>
                    Be it for work or any important purpose, make sure that you avoid travelling as much as possible. Even if you are travelling avoid public transportation or vehicles that are crowded. Travelling means coming in contact with people and that should be avoided to prevent the spread of corona virus.
                    If you experience slightest of symptoms, seek medical attention
                    If you have cold, cough, fever or difficulty in breathing, make sure that you show a doctor immediately. If you are not feeling well, stay indoors. Seeking medical help at right time will avoid any further complications.
                    
                </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/so.png" alt=""  width="20%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/wash.png" alt=""/>
            </div>
            <div class="col-md-6">
                <h3>
                    Wash your hands frequently 
                </h3>
                <p>
                    Wash your hands as often as possible
                    Make sure that you frequently wash your hands with a disinfectant or alcohol-based hand wash or at-least soap and water for minimum 20 seconds to ensure that the virus (if any) present on your hands gets killed or drained away.
                    Wear masks when you step out of the house
                    To avoid any kind of contact with the virus, make sure that you wear masks when you step out the house. Wearing a mask prevents the chances of you inhaling any kind of virus from the atmosphere around.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="texss">ARE THE SYMPTOMS OF COVID-19?</h3>
    <h4>SYMPTOMS OF CORONAVIRUS</h4>
    <p class="Caption">The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may<br>
    have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are<br>
    usually mild and begin gradually. Also the symptoms may appear 2-14 days after exposure</p>
<div>
    <div class="flex-container">

        <div class="flex-child">
          <img src="/assets/images/symptoms1.jpg" alt="">
        </div>
        
        <div class="flex-child green">
          <p class="syt">People with COVID-19 have had a wide range of symptoms reported ranging from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. Anyone can have mild to severe symptoms. People with these symptoms may have COVID-19:</p>
           <ul >
               <li>Fever or chills</li>
               <li>Cough</li>
               <li>Shortness of breath or difficulty breathing</li>
               <li>Fatigue</li>
               <li>Muscle or body aches</li>
               <li>Headache</li>
               <li>New loss of taste or smell</li>
               <li>Sore throat</li>
               <li>Congestion or runny nose</li>
               <li>Nausea or vomiting</li>
               <li>Diarrhea</li>
           </ul>
           <p class="syt">Influenza (Flu) and COVID-19 are both contagious respiratory illnesses, but they are caused by different viruses. COVID-19 is caused by infection with a new coronavirus (called SARS-CoV-2), and flu is caused by infection with influenza viruses.

            COVID-19 seems to spread more easily than flu and causes more serious illnesses in some people. It can also take longer before people show symptoms and people can be contagious for longer. More information about differences between flu and COVID-19 is available in the different sections below.</p>
        </div>
        
      </div>
