<div class="container-fluid">
    <img src="/assets/images/wal.png" class="img-fluid" alt="..." width="%">

    <h3 class="htext">Why We Need Vaccine ??</h3>
    <h4>IMPORTACE  OF  VACCINE</h4>
</div>
<div class="box">
    <div class="container">
         <div class="row">
             
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                        <img src="/assets/images/im1.png" alt="" width="40%">
                        
                        <div class="title">
                            <h3>Saves Lives </h3>
                        </div>
                        
                        <div class="text">
                            <span>Vaccines are recommended for infants because their immune systems are not developed fully and so they are prone to many diseases. It can save your child’s life.</span>
                        </div>
                     </div>
                </div>	 
                
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                        <img src="/assets/images/im2.png" alt="" width="35%">
                    
                        <div class="title">
                            <h3>Prevents Dreadful Diseases</h3>
                        </div>
                        
                        <div class="text">
                            <span>Vaccines prevent dreadful diseases like Polio which can lead to deformities in the child. These diseases if not prevented can lead to paralysis, amputation of limbs, hospitalization and also death.</span>
                        </div>
                     </div>
                </div>	 
                
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                       <img src="/assets/images/im3.png" alt="" width="35%"> 
                        
                        <div class="title">
                            <h3>Protects others as well</h3>
                        </div>
                        <div class="text">
                            <span>Young babies, who are not vaccinated, get diseases like measles which can spread to their siblings or to the older people in the family. This reoccurrence of diseases can lead to fatal consequences. </span>
                        </div>
                     </div>
                </div>	 
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                      <img src="/assets/images/im4.png" width="35%">
                        
                        <div class="title">
                            <h3>Vaccines are safe</h3>
                        </div>
                        
                        <div class="text">
                            <span>All the vaccines today are safe for your child. It is a very rare case where a vaccine would have a side effect. The chances of protecting your child from a preventable disease are much higher than that of a side effect</span>
                        </div>
                     </div>
                </div>	 
                
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                        <img src="/assets/images/im5.png" alt="" width="25%">
                    
                        <div class="title">
                            <h3>Eradicates diseases</h3>
                        </div>
                        
                        <div class="text">
                            <span>Vaccinations protect not only you but also others. If we continue vaccination, there is a possibility that some of the diseases of today would no longer be seen in the future. These diseases would get eradicated. </span>
                        </div>
                     </div>
                </div>	 
                
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                        <img src="/assets/images/im6.png" alt="" width="25%">
                        
                        <div class="title">
                            <h3> Help in the long run</h3>
                        </div>
                        
                        <div class="text">
                            <span>When a baby is vaccinated, his/her immune system becomes tougher and the child does not get ill very easily. This also continues in the long run. If not vaccinated, these diseases would effect the child .</span>
                        </div>
                     </div>
                </div>
        </div>		
    </div>
</div>

<!-------------------Vaccine Report IN india--------------->
<div class="container">
    <h3 class="htext">Report of Vaccine In INDIA</h3>
     <h4> VACCINE TRACKER</h4>
     <app-tabledata></app-tabledata>
</div>

<!---------------Meet our Doctor------------------->
<div class="container">
    <h3 class="htext"> Meet Our Best Doctors </h3>
     <h4> IN INDIA </h4>    
     <app-carddoc></app-carddoc>
</div>

<!--<ul *ngFor="let item of vaccinedata">
    <li>
       <h3>Country Name :{{item.state}}, Code: {{item. vaccinated1}}</h3>
    </li>
 </ul>-->