<div class="container">
  <img src="/assets/images/covid.png" class="img-fluid" alt="Responsive image">
    <!--<img src="/assets/images/covid.png" width="1250px">--->
        <div class="row">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Recovered Rate</h5>
              <p class="card-text">334,365,615</p>
              
            </div>
          </div> 
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Deaths Rate</h5>
              <p class="card-text">5,847,483</p>
              
            </div>
          </div>      
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Confirmed Cases</h5>
              <p class="card-text">1,098,848</p>
              
            </div>
          </div>     
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">World Cases</h5>
              <p class="card-text">4,14,511,306.</p>
              
            </div>
          </div>       
</div>
<div class="container-fluid ">
  <div class="desc">
    <h3 class="htext">Coronavirus (COVID-19)</h3>
    <h4 class="subheading">ABOUT THE DISEASE</h4>
  <div class="row">
      <div class="col-md-6 how-img descbody">
          <img src="/assets/images/covidpic.png" class="img-fluid" alt="" width="100%" >
      </div>
      <div class="col-md-6 descbody">
      <h5 class="heading">COVID-19 is a new illness that can affect your lungs and airways. It's caused by a virus called coronavirus.</h5>
      <p class="textdes" > It was discovered in December 2019 in Wuhan, Hubei, China.
        Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death.
      </p>
      <p class="textdes">Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing.</p>
      
      <h2 class="head">What you need to know</h2>
      <div class="butcon">
      <button class="butdec">How Coronavirus is Spread</button>
      <button class="butdec">How to Prevent and Protect </button>
      <button class="butdec">Symptoms of Coronavirus</button>
      </div>
      </div>
  </div>
</div>
