<div class="container">
    <img src="/assets/images/covid.png" width="1250px">
        <div class="row">
                    <div class="col-sm" class="red">
                       <p class="text">Recovered<br><span>334,365,615</span></p> 
                    </div>
                    <div class="col-sm" class="yellow">
                           <p class="text">Deaths<br><span>5,847,483</span></p>
                     </div>
                      <div class="col-sm" class="Blue">
                            <p class="texts">Confirmed Cases<br><span>1,098,848</span></p>
                     </div>
                      <div class="col-sm" class="yrd">
                             <p class="texts">World Cases <br><span>4,14,511,306</span></p>
                        </div>
             </div>       
            
</div>
<div class="container">
    <h3 class="htext">How Coronavirus Is Spread...</h3>
    <h4>Transmission of Covid-19</h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/assets/images/card1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Droplets that from Infected person Coughs or sneezes</h5>
              <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/card2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Touching or contact with infected surfaces or objects</h5>
              <p class="card-text">A person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth,nose, or possibly their eyes</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/card3.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Person-to-person spread as close contact with infected</h5>
              <p class="card-text">The coronavirus is thought to spread mainly from person to person. This can happen between people who are in close contact with one another</p>
            </div>
          </div>
        </div>
        
      </div>
     
</div>

