<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navabar</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://media.istockphoto.com/vectors/coronavirus-icon-black-and-white-visualization-of-coronavirus-on-vector-id1215983373?k=20&m=1215983373&s=170667a&w=0&h=nc-c1qIQe7HANcSI4F3wjZXyuhSI5bUVQcF-Vh6xQYc=" alt="" width="40" height="35" class="d-inline-block align-text-top">
                ncov
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="case">World wide Case</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="vaccine">Vaccine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Preventions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Blog</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
</body>
</html>
