<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <img src="/assets/images/home.jpg" width="100%">
    <div class="centered">
      <h2 class="heading">Prevent the Spread<br>
       <span>Stay at Home, Stay Safe</span></h2>
       <p class="par">The best way to prevent and slow down transmission is be well informed about the COVID-19 virus. Protect yourself and others from infection by washing your hands at-least 20sec and not touching your face.</p>
    </div>
  </div>
<!---------------------------Step to proctect other---------------------------------------------->

<h3 class="htext">Take steps to protect others</h3>
<h4>Be Carefull & Stay Safe</h4>
<div class="container  prevent">
  <div class="row">
    <div class="col-6 mt-5">
      <img src="http://demo.themenio.com/kovid19/images/gfx/gfx-c.png" alt="" width="70%">
    </div>
   
    <div class="col-5 mt-5">
      <p class="subimg">There is currently no vaccine to prevent Coronavirus (COVID-19. The best way to prevent illness is to avoid being exposed to this virus.</p>
      <div class="imageflex ">
        <div class="img1">
        <img src="http://demo.themenio.com/kovid19/rtl/images/gfx/advice-d.png" alt=""width="85%">
        <p class="subimg">Stay home if you’re sick</p>
        </div>
        <div class="img2">
        <img src="http://demo.themenio.com/kovid19/rtl/images/gfx/advice-c.png" alt=""width="85%">
        <p class="subimg">cover your mouth <br> with arm </p>
        </div>
        <div class="img2">
          <img src="http://demo.themenio.com/kovid19/rtl/images/gfx/advice-b.png" alt=""width="85%">
          <p class="subimg">Maintance Social Distance</p>
        </div>
      </div>
      <div class="imageflex ">
        <div class="img1">
        <img src="http://demo.themenio.com/kovid19/images/gfx/advice-a.png" alt=""width="75%">
        <p class="subimg">Wash Soap on Hand</p>
        </div>
        <div class="img2">
        <img src="http://demo.themenio.com/kovid19/images/gfx/dos-b.png" alt=""width="109%">
        <p class="subimg">Drink Much Water</p>
        </div>
        <div class="img2">
          <img src="http://demo.themenio.com/kovid19/images/gfx/dos-c.png" alt=""width="90%">
          <p class="subimg">Cover your mouth & nose </p>
        </div>
      </div>
</div>
  </div>
</div>

<!------------------------------------safe Important Percautions----------------------------------------->

<h3 class="htext">How to stay Safe Important Percautions</h3>
<h4>Percautions we should Follow</h4>
<div class="container Percautions">
       <div class="row">
                  <div class="col-4">
                    
                    <div class="bodydes">
                      <h2 class="head">Things You Should Do</h2>
                      <i class="fa fa-check">   <span class="des"> Stay at Home</span></i><br>
                      <i class="fa fa-check">  <span class="des">  Wear Mask</span></i> <br>
                      <i class="fa fa-check"> <span class="des">  Maintain Hygiene</span> </i><br>
                      <i class="fa fa-check">   <span class="des">  Well Done Cooking</span></i> <br>
                      <i class="fa fa-check">   <span class="des">  Seek for a Doctor</span></i> <br>
                      <i class="fa fa-check">  <span class="des">  Avoid Crowed Places</span> </i> <br>
                      <i class="fa fa-check">   <span class="des"> Avoid Going Out </span></i><br>
                      <i class="fa fa-check">  <span class="des"> Buy Essentials That Will Last for a Week</span></i> <br>
                      <i class="fa fa-check"> <span class="des">  Eat a Healthy Diet </span> </i><br>
                      <i class="fa fa-check">   <span class="des"> Drink Plenty of Water</span></i> <br>
                      <i class="fa fa-check">   <span class="des">  Disinfect Packages After Receiving Them</span></i> <br>
                      <i class="fa fa-check">  <span class="des">  Thoroughly Sterilize Toys and Other Items </span> </i> <br>

                    </div>
                    
                  </div>
                  
                  <div class="col-4">
                   <img src="http://demos.codexcoder.com/labartisan/html/covid-19/assets/images/safe/01.jpg" alt="" width="100%">
                  </div>
                  
                  <div class="col-4">
                    <div class="bodydes">
                      <h2  class="heads">Things You Should Do</h2>
                    <i class="fa fa-close">  <span class="des">   Do Not Eat Outside Food</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Avoid Touching Your Face</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Skip Disinfection of the House</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Overstock Medicines</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Allow Children to Play Outside</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Do Not Eat Outside Food</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Avoid Touching Your Face</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Ignore Government-issued Advice</span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Panic  </span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t Skip Disinfection in office </span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Avoid Assuming That You are fit </span></i> <br>
                    <i class="fa fa-close">  <span class="des">   Don’t take more stress</span></i> <br>
                    </div>
                  </div>
       </div>

</div>



  <!--------------------Wash your Hand -------------------------->
  <div class="container">
    <h3 class="htext">Wash Your Hands Frequently</h3>
    <h4>Protect yourself, wash your hands</h4>
  </div>
  <div class="container display">
        <div class="row">
        <div class="col-5 left mt-3"> 
          <p class="subimg">Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water as it kills viruses that may be on your hands.</p>
          <!--------Frist Column -------------->
          <div class="imageflex ">
            <div class="img1">
            <img src="/assets/images/wash1.png" alt=""width="80%">
            <p class="subimg">Soap on Hand</p>
            </div>
            <div class="img2">
            <img src="/assets/images/wash-b.png" alt=""width="80%">
            <p class="subimg">Palm to Palm</p>
            </div>
            <div class="img2">
              <img src="/assets/images/wash-c.png" alt=""width="80%">
              <p class="subimg">Between Fingers</p>
              </div>
          </div>
           <!-------------Second Column ------>
          <div class="imageflex">
            <div class="img1">
            <img src="/assets/images/wash-d.png" alt=""width="80%">
            <p class="subimg">Back to Hands</p>
            </div>
            <div class="img2">
            <img src="/assets/images/wash-e.png" alt=""width="80%">
            <p class="subimg">Clean with Water</p>
            </div>
            
            <div class="img2">
              <img src="/assets/images/wash-f.png" alt=""width="80%">
              <p class="subimg">Focus on Wrist</p>
              </div>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5 right mt-3">
          <img src="http://demo.themenio.com/kovid19/images/gfx/gfx-d.png" alt="" width="90%">
        </div>
        </div>
  </div>

<app-form></app-form>
    

