<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="htext">Blogs Related to Covid -19</h3>
<h4>Read This Blog , Stay safe & stay Healthy</h4>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/assets/images/pic1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">COVID-19 Vaccines for Kids Ages 5 to 11, Here’s What to Know</h5>
              <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  July 12,2022</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Soumik Roy</span> </i>
              <p class="card-text">TNovember marks a monumental milestone in the battle against COVID-19. The U.S. Food and Drug Administration (FDA)</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/pic9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
              <h5 class="card-title">This Relentless Pandemic Can Tax Your Mental Health. Here’s How to Cope</h5>
              <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  Aug 12,2020</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Soumi Roy</span> </i>
              <p class="card-text">Remember those brief, blissful weeks at the beginning of the summer? Vaccination rates were rising, COVID-19 infections were dropping and mask mandates...</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/images/pic2.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              
              <h5 class="card-title">Got FOMO? Tips for Overcoming Your Anxiety Post-Pandemic</h5>
              <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  June 02,2022</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Harishita Reddy</span> </i>
              <p class="card-text">Is your social media feed more packed these days with photos of dinner dates, get-togethers and trips to the beach? It seems like everyone is out from...</p>
            </div>
          </div>
        </div>
        
        <div class="col">
            <div class="card">
              <img src="/assets/images/pic3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">COVID-19 and the Flu: Know the Symptoms</h5>
                <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  Jan 21,2022</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Mukta Roy</span> </i>
                <p class="card-text">COVID-19 is still here and, unfortunately, flu season is also on its way. It’s not possible to definitively predict what will happen in the weeks and months...</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/images/pic4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">RSV Cases Are on the Rise in Children, Here’s What to Know</h5>
                <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  Feb 2,2022</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Ruchi Sharama</span> </i>
                <p class="card-text">Let’s talk about quercetin. Maybe you’ve heard it mentioned in discussions about cancer or COVID-19.  This natural ingredient can help your overall health....</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/images/pic5.jpg" class="card-img-top" alt="..." >
              <div class="card-body">
                <h5 class="card-title">How Is Flu Season Different During the COVID-19 Pandemic?</h5>
                <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  July 12,2022</span> </i> <i class="fa fa-address-card"> <span class="card-text"> Sangay </span> </i>
                <p class="card-text">COVID-19 has put into question every aspect of our daily routine and put “stay healthy” at the top of everyone’s to-do list. Our lives are different, in...</p>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card">
              <img src="/assets/images/pic6.jpg" class="card-img-top" alt="..." >
              <div class="card-body">
                <h5 class="card-title">Have COVID-19? You Could Be Eligible for Monoclonal Antibody Treatment</h5>
                <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  June 17,2021</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Abdul Imran</span> </i>
                <p class="card-text">If you’re diagnosed with COVID-19 and you’re at high risk for developing a severe case, you could qualify for monoclonal antibody treatment (mAb). Monoclonal...</p>
              </div>
            </div>
          </div>
          
          <div class="col">
              <div class="card">
                <img src="/assets/images/pic7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TEACH ME What You Should Know About Your Risk for Guillain-Barré Syndrome</h5>
                  <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  Aug 2,2021</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Raki Santra</span> </i>
                  <p class="card-text">From diabetes to vitamin deficiencies to infections, a lot of different conditions can cause numbness, tingling or weakness in your feet or legs. A rare...</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/images/pic8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">If You’re Tired All the Time, It Could Be Chronic Fatigue Syndrome</h5>
                  <i class="fa fa-calendar" aria-hidden="true"> <span class="card-text">  Oct 12,2021</span> </i> <i class="fa fa-address-card"> <span class="card-text">  Sayan Roy</span> </i>
                  <p class="card-text">If you can barely remember the last time you felt energized all day and ready to tackle whatever came your way, a health condition might be causing your...</p>
                </div>
              </div>
            </div>
      </div>
     
</div>


